*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

.header,
.main {
    max-width: 40rem;
    margin: 0 auto;
    padding: 1rem;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 6px 6px 0px 0px;
    background: black;
    color: white;
}

.header_link {
    text-decoration: none;
    color: inherit;
    transition: color 0.15s ease-in-out;
}

.header_link:hover {
    color: bisque;
}

.header_logo {
    margin: 0;
    font-size: 1.5rem;
}

.form {
    display: flex;
    flex-direction: column;
    font-size: 1.1rem;
}

.form_input {
    font-family: inherit;
    font-size: inherit;
    padding: 1rem;
    resize: none;
    border: 3px solid black;
    border-radius: 6px;
    background-color: #fafafa;
    margin-bottom: 1rem;
}

.form_button {
    font-size: inherit;
    background-color: bisque;
    cursor: pointer;
    border-radius: 6px;
    border: none;
    padding: 0.5rem 2.5rem;
    align-self: flex-end;
}

.dates {
    display: flex;
    justify-content: space-around;
    color: black;
    font-size: 1.1rem;
    margin-bottom: 2.5rem;
}

.dates_link {
    color: inherit;
    text-decoration: none;
    outline: none;
    padding: 0.25rem 0.75rem;
    border-radius: 6px;
}

.dates_link_current {
    background: bisque;
}

.dates_link:not(.dates_link_current):hover {
    background: lightgray;
}

.date {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dates_link:first-of-type,
.dates_link:last-of-type,
.dates_link:nth-of-type(2),
.dates_link:nth-last-of-type(2) {
    display: none;
}

@media screen and (min-width: 25rem) {
    .dates_link:nth-of-type(2),
    .dates_link:nth-last-of-type(2) {
        display: block;
    }
}

@media screen and (min-width: 35rem) {
    .dates_link:first-of-type,
    .dates_link:last-of-type {
        display: block;
    }
}

.habit {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 26px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: bisque;
    border: 3px solid black;
    border-radius: 6px;
}

.habit:not(.completed) {
    padding: 0;
}

.habit:not(.completed):hover {
    background-color: blanchedalmond;
}

.habit_icon {
    width: 1em;
    height: 1em;
}

.habit_name {
    margin: 0;
}

.habit_form {
    width: 100%;
}

.habit_button {
    display: block;
    width: 100%;
    padding: 20px;
    font-size: inherit;
    font-family: inherit;
    text-align: left;
    border: none;
    background-color: unset;
    cursor: pointer;
}